body {
    margin:0 auto;
    width: 100%;
    background-color: rgba(177, 149, 140, 0.774);
    
}

header {
    display: flex;
    position:fixed;
    top:0;
    width:100%;
    background-color: rgb(44, 43, 43);
    height: 100px;
    flex-direction: column;
    
    
}
footer {
    width:100%;
    background-color: rgb(44, 43, 43);
    height: 50px;
}

#photo {
    border-radius: 60px;
}

h1{
    margin: 0;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: rgb(192, 216, 216);
    
}
@media(max-width:767px){
    h1 {
        font-size: 30px;
    }
   
}
@media(max-width:916px){
    img {
        margin-top: 20px;
    }
    .image:last-child {
        margin-top: 20px;
    }
}

h2{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

p{
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
#ramka{
    
    padding-top:80px;
}

.image {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-top: 30px;
    
}
#vektor {
    padding-top:80px;
}